/* number-section */
.about-section-wrapper .about-number-area{
    padding-top: 90px;
}

.about-number-area .number-section{
    padding: 38px 0;
    background: var(--primary_light0);
    display: flex;
    justify-content: space-evenly;
}

.number-section .num-card{
    text-align: center;
    align-content: center;
    /* padding-right: 60px; */
    border-right: 1px solid var(--primary_color2);
}

.number-section .num-card:last-child{
    border-right: none;
    padding-right: 0;
}

.number-section .num-card h1{
    font-size: 45px;
    font-weight: 500;
    color: var(--primary_color);
}

.number-section .num-card p{
    font-size: 22px;
    font-weight: 500;
    color: var(--dark1);
}

/* video-section */
.about-section-wrapper .video-section{
    text-align: center;
    padding-top: 90px;
}

.about-section-wrapper .video-section .video-title{
    margin-bottom: 40px;
    color: var(--dark1);
    text-align: center;
}

.about-section-wrapper .video-section .video-title .colored-title{
    color: var(--primary_color2);
    font-weight: 600;
}

.video-section video{
    height: 150;
    width: 900px;
    border-radius: 20px;
    border: 1px solid var(--primary_light0);
    box-shadow: 0 2px 20px var(--primary_light0);
}





/* media queries */

/* @media (max-width: 991px) {
    .about-number-area .number-section{
        flex-wrap: wrap;
    }
    .number-section .num-card{
        width: 50%;
    }
    .number-section .num-card:nth-child(1), .number-section .num-card:nth-child(2){
        margin-bottom: 50px;
    }
    .number-section .num-card:nth-child(2){
        border-right: none;
    }
    .video-section video{
        width: 730px;
    }
}

@media (max-width: 912px){
    .video-section video{
        width: 700px;
    }
} */