.values-section .values-section-title .values-title {
    /* margin: 0 250px 10px 250px; */
    margin-bottom: 10px;
    color: var(--dark1);
    text-align: center;
}

.values-section .values-section-title .values-title .colored-title {
    color: var(--primary_color2);
    font-weight: 600;
}

.values-section .values-section-title .values-content {
    text-align: center;
    margin: 0 270px 48px 270px;
    padding-top: 10px;
}

.about-values-area{
    padding-top: 90px;
}
.values-section-content .icon-box-wrapper{
    display: flex;
    padding: 40px;
    border: 1px solid var(--gray);
}

.values-section-content #iconBox1{
    border-radius: 12px 0 0 0;
}

.values-section-content #iconBox2{
    border-radius: 0 12px 0 0;
    border-left: none;
}

.values-section-content #iconBox3{
    border-radius: 0 0 0 12px;
    border-top: none;
}

.values-section-content #iconBox4{
    border-radius: 0 0 12px 0;
    border-top: none;
    border-left: none;
}

.icon-box-wrapper .icon-box{
    height: 70px;
    width: 180px;
    border-radius: 8px;
    background-color: var(--primary_color2);
    margin: 16px 25px 0 0;
    text-align: center;
    align-content: center;
}

.icon-box-wrapper .icon-box .icon-color-style i{
    font-size: 24px;
    color: var(--white);
}

.icon-box-wrapper .icon-body .icon-title{
    color: var(--dark1);
}

.icon-box-wrapper .icon-body .icon-description{
    font-size: 16px;
}


.icon-box-wrapper:hover{
    background-color: var(--primary_light0);
}

.icon-box-wrapper:hover .icon-box{
    background-color: var(--white);
}

.icon-box-wrapper:hover .icon-box .icon-color-style i{
    color: var(--dark1);
}

/* Responsive Adjustments For Section Title*/
@media (max-width: 1200px) {
    .values-section .values-section-title .values-title {
        /* margin: 0 150px 10px 150px; */
        font-size: 32px;
    }

    .values-section .values-section-title .values-content {
        margin: 0 160px 48px 160px;
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .values-section .values-section-title .values-title {
        /* margin: 0 100px 10px 100px; */
        font-size: 28px;
    }

    .values-section .values-section-title .values-content {
        margin: 0 110px 48px 110px;
        font-size: 16px;
    }

    .values-section-content #iconBox1,
    .values-section-content #iconBox2,
    .values-section-content #iconBox3,
    .values-section-content #iconBox4{
        border-radius: 12px;
        border: 1px solid var(--gray);
        margin-bottom: 20px;
    }

    .values-section-content #iconBox4{
        margin-bottom: 0;
    }
    
    .values-section-content .icon-box-wrapper{
        align-items: center;
    }

    .icon-box-wrapper .icon-box{
        margin-top: 0;
        height: 80px;
    }
}

@media (max-width: 768px) {
    .about-values-area{
        padding-left: 20px;
        padding-right: 20px;
    }
    .values-section .values-section-title .values-title {
        /* margin: 0 60px 10px 60px; */
        font-size: 24px;
    }

    .values-section .values-section-title .values-content {
        margin: 0 70px 48px 70px;
        font-size: 14px;
    }
    .icon-box-wrapper .icon-box{
        margin-right: 20px;
        height: 60px;
    }
}

@media (max-width: 576px) {
    .values-section .values-section-title .values-title {
        /* margin: 0 30px 10px 30px; */
        font-size: 20px;
    }

    .values-section .values-section-title .values-content {
        margin: 0 40px 48px 40px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .values-section-content .icon-box-wrapper{
        padding: 22px;
    }

}