.contact-section .contact-wrap .contact-form {
   background: var(--light_white);
   border-radius: 10px;
   overflow: hidden;
   margin-left: 110px;
 }
 .contact-section .contact-wrap .contact-form .contact-form-wrap {
   padding: 55px 40px;
 }
 .contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap {
   margin-bottom: 30px;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .sub-title {
   font-size: 14px;
   line-height: 30px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ff5538;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .heading-wrap .title {
   font-size: 42px;
   line-height: 54px;
   font-weight: 600;
   color: var(--dark3);
 }
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form {
   margin-top: 25px;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
   height: 55px;
   line-height: 55px;
   border: 1px solid var(--gray);
   padding-left: 15px;
 }
 
 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]), textarea {
   border: 1px solid var(--gray);
   box-shadow: none;
   color: var(--dark3);
   border-radius: 4px;
   background-color: var(--white);
   margin-bottom: 0;
   padding: 10px 25px;
   max-width: 100%;
   width: 100%;
   font-size: 13px;
   line-height: 30px;
   font-weight: 600;
   transition: all 0.3s linear;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"])::-webkit-input-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-moz-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):-ms-input-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea {
   height: 135px;
   border: 1px solid  var(--gray);
   padding-left: 15px;
   resize: none;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea::-webkit-input-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea:-moz-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea::-moz-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section .contact-wrap .contact-form .contact-form-wrap .single-form textarea:-ms-input-placeholder {
   opacity: 0.95;
   font-size: 14px;
   color: var(--dark2);
   font-weight: 400;
 }
 
 .contact-section-02 .contact-wrap .contact-info .section-title .title::before {
   background: var(--primary_color);
 }
 
 .contact-section-02 .contact-wrap .contact-info ul li .contact-info-item .contact-info-icon i {
   color: var(--primary_color);
 }
 
 .contact-section-02 .contact-wrap .contact-form {
   background: var(--white);
   box-shadow: 0px 0px 139px 0px rgba(0, 0, 0, 0.1);
 }
 
 .contact-section-02 .contact-wrap .contact-form .contact-form-wrap .heading-wrap .sub-title {
   color: var(--primary_color);
 }
 
 .contact-section-03 .contact-wrap {
   margin-bottom: -60px;
   position: relative;
   z-index: 5;
 }
 
 .contact-map-section .contact-map-wrap {
   margin-bottom: -8px;
 }
 
 .contact-map-section .contact-map-wrap iframe {
   height: 550px;
   width: 100%;
   filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
   padding-bottom: 90px;
 }
 
 /* btn */

 .contact-section .contact-wrap .contact-form .contact-form-wrap .form-btn {
  margin-top: 25px;
}

.contact-section .contact-wrap .contact-form .contact-form-wrap .form-btn .btn {
  display: inline-block;
  color: var(--white);
  font-weight: 700;
  height: 55px;
  width: 100%;
  line-height: 50px;
  padding: 0px 70px;
  margin-bottom: 10px;
  box-shadow: none;
  /* border-radius: 5px;
  font-size: 16px;
  border: 0;
  border-style: solid;
  overflow: hidden;
  transform: perspective(0) translateZ(0);
  background: linear-gradient(195deg, #086ad8 0%, #42b9ff 100%);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border-color: transparent;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  z-index: 1;
  position: relative; */
}
 
.contact-section-03 .contact-wrap .contact-form .contact-form-wrap .form-btn {
  text-align: center;
}

.contact-section-03 .contact-wrap .contact-form .contact-form-wrap .form-btn .btn {
  width: 70%;
}
 