.section {
  float: left;
  width: 100%;
}

.page-banner-section {
  /* padding-top: 85px; */
  min-height: 590px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.page-banner .title {
  font-size: 60px;
  line-height: 1.25;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  font-weight: 600;
  color: var(--white);
  position: relative;
  z-index: 1;
}

.page-banner .breadcrumb {
  margin-bottom: 0;
  margin-top: 10px;
}

.page-banner .breadcrumb .breadcrumb-item {
  color: var(--white);
  font-size: 20px;
}

.page-banner .breadcrumb .breadcrumb-item a {
  color: var(--white);
  font-size: 20px;
}

.page-banner .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 8px;
}

.page-banner .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  font-family: flaticon !important;
  font-size: 20px;
  padding-right: 5px;
  color: var(--white);
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .page-banner .title {
    font-size: 50px;
  }

  .page-banner .breadcrumb .breadcrumb-item {
    font-size: 18px;
  }

  .page-banner .breadcrumb .breadcrumb-item a {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .page-banner-section {
    min-height: 450px;
  }

  .page-banner .title {
    font-size: 40px;
  }

  .page-banner .breadcrumb .breadcrumb-item {
    font-size: 16px;
  }

  .page-banner .breadcrumb .breadcrumb-item a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .page-banner-section {
    min-height: 350px;
  }

  .page-banner .title {
    font-size: 30px;
    text-align: center;
  }

  .page-banner .breadcrumb {
    text-align: center;
  }

  .page-banner .breadcrumb .breadcrumb-item {
    font-size: 14px;
  }

  .page-banner .breadcrumb .breadcrumb-item a {
    font-size: 14px;
  }

}

@media (max-width: 576px) {
  .page-banner .title {
    font-size: 24px;
  }

  .page-banner .breadcrumb .breadcrumb-item {
    font-size: 12px;
  }

  .page-banner .breadcrumb .breadcrumb-item a {
    font-size: 12px;
  }
}

/* blogDescription-hero */

#blogHero2 {
  min-height: 350px;
}
