.about-section-area, .research-section-area{
    padding-top: 90px;
}

.research-section-area{
    padding-bottom: 90px;
}

.about-section-area .about-section, .research-section-area .research-section{
    justify-content: space-around;
    gap: 86px;
}

.section-content .section-title .title{
    color: var(--primary_color2);
    font-weight: 600;
    font-size: 45px;
    /* margin-top: 30px; */
    margin-bottom: 20px;
}

.section-content .section-title .title-underline{
    height: 5px;
    width: 100px;
    background-color: var(--dark1);
    border-radius: 2px;
}

.section-content .section-para{
    padding-top: 50px;
    font-size: 18px;
}

.section-img{
    display: flex;
    /* padding: 20px; */
}

.section-img .img-area .about-img, .section-img .rd-img-area .rd-img{
    margin: 1px;
}

.section-img .img-area #aboutImg1{
    height: 188px;
    width: 230px;
    margin-left: 41px;
}

.section-img .img-area #aboutImg2{
    height: 175px;
    width: 270px;
}

.section-img .img-area #aboutImg3{
    height: 205px;
    width: 215px;
    margin-top: 25px;
}

.section-img .img-area #aboutImg4{
    height: 135px;
    width: 190px;
} 

.section-img .rd-img-area #rdImg1{
    height: 357px;
    width: 258px;
}

.section-img .rd-img-area #rdImg2{
    height: 182px;
    width: 200px;
}

.section-img .rd-img-area #rdImg3{
    height: 172px;
    width: 235px;
}


/* Responsive style */

@media (max-width: 1200px) {
    .about-section-area .about-section, .research-section-area .research-section{
        gap: 70px;
    }
    .section-img .img-area #aboutImg1, .section-img .img-area #aboutImg2, 
    .section-img .img-area #aboutImg3, .section-img .img-area #aboutImg4{
        height: 182px;
        width: 230px;
        margin: 1px;
    }
    .section-img .rd-img-area #rdImg1{
        height: 360px;
        width: 258px;
    }    
    .section-img .rd-img-area #rdImg2, .section-img .rd-img-area #rdImg3{
        height: 180px;
        width: 190px;
    }
}

@media (max-width: 991px) {
    .about-section-area .about-section{
        flex-direction: column-reverse;
    }
    .research-section-area .research-section{
        flex-direction: column;
    }
    .section-img .img-area, .section-img .rd-img-area{
        display: flex;
        flex-direction: column;
    }
    .section-img .img-area #aboutImg1, .section-img .img-area #aboutImg2, 
    .section-img .img-area #aboutImg3, .section-img .img-area #aboutImg4{
        height: 170px;
    }
    .section-img .rd-img-area #rdImg1{
        height: 340px;
    }    
    .section-img .rd-img-area #rdImg2, .section-img .rd-img-area #rdImg3{
        height: 170px;
    }
    .about-section-area .about-section, .research-section-area .research-section{
        gap: 50px;
    }
}

@media (max-width: 585px) {
    .section-img .img-area:first-child{
        align-items: end;
    }
    .section-img .img-area #aboutImg1, .section-img .img-area #aboutImg2, 
    .section-img .img-area #aboutImg3, .section-img .img-area #aboutImg4{
        height: 150px;
        width: 100%;
    }
    .section-img .rd-img-area:first-child{
        width: 70%;
    }
    .section-img .rd-img-area #rdImg1{
        height: 300px;
        width: 99%;
    }    
    .section-img .rd-img-area #rdImg2, .section-img .rd-img-area #rdImg3{
        height: 150px;
        width: 100%;
    }
}