.services-skill-area{
    padding-top: 90px;
    padding-bottom: 90px;
}

.services-skill-area .services-skill-wrapper{
    margin-left: 250px;
}

.services-skill-wrapper .services-skill-section{
    display: flex;
    justify-content: end;
    gap: 30px;
}

.services-skill-section-content .service-skill-title {
    margin: 0 50px 20px 0;
}

.services-skill-section-content .service-skill-title .skill-maintitle h2{
    font-weight: 700;
    font-size: 50px;
}

.service-skill-title .skill-title-para p{
    font-size: 25px;
}

.services-skill-section .skill-img-area img{
    height: 700px;
    width: 600px;
}
