.services-area{
    padding: 90px 0 70px 0;
}

.services-section-title .services-maintitle h5.section-subtitle{
    text-transform: uppercase;
    color: var(--primary_color);
    font-size: 16px;
}

.services-section-wrapper .services-section-title{
    display: flex;
    justify-content: center;
    /* gap: 10px; */
    padding-bottom: 50px;
}

.services-section-title .services-maintitle{
    width: 50%;
}
.services-section-title .services-maintitle h2{
    font-weight: 700;
    font-size: 50px;
    color: var(--dark1);
}

.services-section-title .services-title-para{
    width: 50%;
}

.services-section-title .services-title-para p{
    margin-top: 10px;
    font-size: 25px;
    /* padding-left: 90px; */
    color: var(--dark2);
}
.services-section-wrapper .service-cards-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.services-section-wrapper .service-cards-section .card{
    /* width: 22.5rem; */
    /* height: 18.5rem; */
    width: 30%;
    padding: 50px 40px 30px 40px;
    overflow: hidden;
}

.service-cards-section .card .card-body{
    padding: 0;
}

.service-cards-section .card .card-body .card-title{
    font-size: 25px;
    color: var(--dark1);
}

.service-cards-section .card .card-body .card-text{
    font-size: 20px;
    color: var(--dark2);
}

.service-cards-section .card .card-icon-top{
   height: 40%;
   margin-bottom: 30px;
}

.service-cards-section .card i{
    font-size: 50px;
    color: var(--primary_color);
}

.service-cards-section .card .slider-items{
    overflow: hidden;
    visibility: hidden;
}

.service-cards-section .card .slider-items img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.375rem;
    transition: all 1s;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.service-cards-section .card .slider-items .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.service-cards-section #serviceCard1 .slider-items img,
.service-cards-section #serviceCard4 .slider-items img {
    left: -100%;   
}

.service-cards-section #serviceCard1:hover .slider-items img,
.service-cards-section #serviceCard2:hover .slider-items img,
.service-cards-section #serviceCard3:hover .slider-items img,
.service-cards-section #serviceCard4:hover .slider-items img,
.service-cards-section #serviceCard5:hover .slider-items img,
.service-cards-section #serviceCard6:hover .slider-items img {
    visibility: visible;
    left: 0;
    top: 0
}

.service-cards-section #serviceCard2 .slider-items img{
    top: -100%;   
    left: 0;
}

.service-cards-section #serviceCard5 .slider-items img {
    top: 100%; 
    left: 0;  
}

.service-cards-section #serviceCard3 .slider-items img,
.service-cards-section #serviceCard6 .slider-items img {
    left: 100%;   
}

.service-cards-section .slider-items .theme-btn{
    position: absolute;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    transition: all 0.9s ease;
    z-index: 2;
    color: var(--white);
    border: none;
    padding: 13px 20px;
}

.service-cards-section #serviceCard1 .slider-items .theme-btn,
.service-cards-section #serviceCard4 .slider-items .theme-btn {
    left: -100%;
}

.service-cards-section #serviceCard3 .slider-items .theme-btn,
.service-cards-section #serviceCard6 .slider-items .theme-btn {
    left: 100%;
}

.service-cards-section #serviceCard2 .slider-items .theme-btn {
    left: 25%;
    top: -100%;
}

.service-cards-section #serviceCard5 .slider-items .theme-btn {
    left: 25%;
    top: 100%;
}

.service-cards-section #serviceCard1:hover .slider-items .theme-btn,
.service-cards-section #serviceCard3:hover .slider-items .theme-btn,
.service-cards-section #serviceCard4:hover .slider-items .theme-btn,
.service-cards-section #serviceCard6:hover .slider-items .theme-btn {
    visibility: visible;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-cards-section #serviceCard2:hover .slider-items .theme-btn,
.service-cards-section #serviceCard5:hover .slider-items .theme-btn{
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-cards-section .card .slider-items .theme-btn i{
    font-size: 20px;
    color: var(--white);
}

.service-cards-section .card .slider-items .theme-btn:hover i{
    transform: none;
    color: var(--white);
}




/* responsive style */

@media (max-width: 1200px) {
    .services-section-title .services-title-para p{
        padding-left: 10;
    }
}

@media (max-width: 991px) {
    .services-section-wrapper .service-cards-section .card{
        width: 47%;
    }
    .services-section-wrapper .services-section-title{
        flex-direction: column;
    }
    .services-section-title .services-maintitle{
        width: 100%;
    }
    .services-section-title .services-title-para{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .services-section-wrapper .service-cards-section .card{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .services-area{
        padding-left: 8px;
        padding-right: 8px;
    }
}




