/* Subscription */

.sub-section-wrap{
    position: relative;
    border-radius: 10px;
    margin-bottom: -90px;
    padding: 70px 105px;
    background: linear-gradient(270deg, #a824b4 0%, #0dbeeb  100%);
}

.subscribe-section .sub-section-wrap .row{
    align-items: center;
}

.sub-section-wrap .sub-content p{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    padding-left: 60px;
    color: var(--white);
    margin-bottom: 0;
}

.sub-icon{
    height: 115px;
    width: 115px;
    border-radius: 50%;
    line-height: 110px;
    text-align: center;
    position: absolute;
    top: -35px;
    left: 35px;
    background-color: var(--dark1);
}

.sub-section-wrap .sub-input-area .sub-input{
    display: flex;
    justify-content: center;
}

.sub-input-area .sub-input input{
    line-height: 2.2;
}

.sub-input-area .sub-input .sub-btn{
    align-content: center;
}

.btn-blue{
    padding: 13px 20px;
    margin-left: 10px;
    border: none;
}


/* Responsive style */

@media (max-width: 1200px){
    .subscribe-section .sub-section-wrap .row{
        flex-direction: column;
        gap: 35px;
        align-items: start;
        text-align: center;
    }
    .sub-section-wrap .sub-input-area .sub-input{
        width: 750px;
        padding-left: 60px;
    }
}

@media (max-width: 991px){
    .sub-section-wrap .sub-content p{
        text-align: start;
    }
    .sub-section-wrap .sub-input-area .sub-input{
        width:  100%;
    }
    .sub-section-wrap .sub-content .sub-icon {
        left: 50%;
        transform: translateX(-50%);
    }
    .sub-section-wrap .sub-content p{
        margin-top: 30px;
        padding-left: 0;
        text-align: center;
        align-self: center;
    }
}

@media (max-width: 768px){
    .sub-section-wrap .sub-input-area .sub-input{
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
    }
    .sub-section-wrap .sub-input-area .sub-input .sub-btn{
        text-align: end;
    }
    .sub-section-wrap{
        padding: 90px;
        padding-bottom: 70px;
    }
}

@media (max-width: 576px){
    .sub-section-wrap{
        padding: 40px;
        padding-top: 90px;
    }
}

@media (max-width: 480px){
    .sub-section-wrap{
        padding: 20px;
        padding-top: 95px;
    }
}

